@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  
}

*::-webkit-scrollbar {
  display: none;
}

body{
  background: black;
}

.container {
  margin: auto;
  padding: 1%;
  height: 100vh ;
  width : 70vw;
  
}

.heading{
  display: flex;
  font-family: poppins;
  font-size: 3em;
  align-items: center;
  justify-content: center;
  color:white;
  
}

.coins{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding : 0.5em;
  width : 100%;
  height : 80px;
  font-family: poppins;
  font-size: 1em;
  border-bottom : 1px solid white;
}
.coinImage{
  margin-right: 20px;
  width: 4%;
  height : 80%;
  
}

.coinName{
  color:white;
  margin-right: 70px;
  width : 100px;
}

.coinSymbol{
  color:white;
  margin-right: 70px;
  width : 50px
}
.coinPrice{ 
  color:white;
  margin-right: 70px;
  width : 100px

}
.coinMktcap{
  color:white;
  margin-right: 70px;
  width : 210px
}

.red{
  color : red;
  margin-right: 70px;
  width : 100px
}

.green{
  color : green;
  margin-right: 70px;
  width : 100px
}

.button{
  border-radius : 10px;
  background-color : #083358;
  color : white;
  width : 100px;
  height : 30px;
  cursor: pointer;
}
.button:hover{
  background-color : #0D63A5;
}